.form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 81.25%;
  margin: 0 auto;
  color: #ffffff;
  position: relative;
}

.form__title {
  display: flex;
  line-height: 29.05px;
  font-size: 24px;
  font-weight: 500;
  margin: 20px auto 80px auto;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  width: 81.25%;
  min-width: 260px;
  flex: 1 1 auto;
}
.form__text {
  line-height: 14.52px;
  font-size: 12px;
  font-weight: 500;
  color: #ee3465;
}
.form__button {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  display: flex;
  position: relative;
  width: 81.25%;
  min-width: 260px;
  max-width: 396px;
  height: 45px;
  line-height: 14.52px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  background-color: #4285f4;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color: #ffffff;
}

.form__button:hover {
  opacity: 1;
}

.form__button_disabled {
  background-color: #f8f8f8;
  color: #000000;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .form {
    width: 51.5625%;
  }
  .form__title {
    width: 100%;
    margin: 40px auto 40px auto;
    max-width: 396px;
  }

  .form__inputs {
    width: 100%;
    max-width: 396px;
  }
  
  .form__button {
    line-height: 16.94px;
    font-size: 14px;
    border-radius: 3px;
    width: 100%;
    max-width: 396px;
  }
}

@media screen and (min-width: 960px) {
  .form {
    width: 51.5625%;
  }
  .form__title {
    width: 100%;
    margin: 40px auto 40px auto;
    max-width: 396px;
  }
}